<p>The dev phase is for the participants to test their algorithm using a hold-out dataset. The dataset contains about 3000 queries. 

The final submission file is also a jsonl file similar to the query file. However, the participant will assign a score for each candidate product. The higher score means that the product has a highly probability to fulfill the feedbacks. We will rank all the candidate products for this query, compare to the ground-truth label and publish the average mAP value on the leaderboard.
<pre>
<code>
{<br>
&emsp;"index": 1,<br>
&emsp;"source_pid": "31DIXIgC5wL",<br>
&emsp;"utterance1": "with a grey dress pant",<br>
&emsp;"utterance2": "with side button placket waistband",<br>
&emsp;"utterance3": "with a taper leg",<br>
&emsp;"candidates": [<br>
&emsp;&emsp;{"candidate_pid": "71sq8PHKCeL", <b>"score": 0.75</b>},<br>
&emsp;&emsp;{"candidate_pid": "41qOjyIs8YL",  <b>"score": 0.5</b>}<br>
&emsp;]<br>
}
</code>
</pre>
</p>
