<p> In the final evaluation phase, the participant will submit feature vectors for the gallery dataset and all queries.</p>


<p> The submitted file needs to be in pickle format (*.pkl). The content in the pickle file is a dictionary with 2 keys: "query_feature" and "gallery_feature". The query feature is a N*128 matrix, where N is the number of query. Each row is a 128-dim l2-normalized feature vector. The order of the feature needs to follow the order in the query jsonl file. If a query image is not available, please set the feature to be a zero vector. A unavailable query image will not be included in the final metric calculation.
</p>

<p> The gallery feature is a M*128 matrix, where M is the number of total gallery images in the gallery file. Each row is a 128-dim l2-normalized feature vector. The order of the feature needs to follow the order of the image files in the gallery csv file. If a gallery image is not available on the server, please set its feature to be an all-zero vector. An unavailable gallery image will not be included in the final metric calculation. 
</p>


<p>
<pre>
<code>
{<br>
&emsp;&lt;"query_feature"&gt;: &lt;a N*128 matrix&gt;,<br>
&emsp;&lt;"gallery_feature"&gt;: &lt;a M*128 matrix&gt;,<br>
}
</code>
</pre>
</p>

<p> To check the <a href="https://github.com/amazon-science/amazon-alexa-language-assisted-product-search/blob/main/src/submission/generate_random_submission.py">script</a> for how to generate a sample submission pkl. 
<pre>
<code>
python ./submission/generate_random_submission.py -o {output_pkl_path} -g {evaluation_gallery_file} -q {evaluation_query_file}
</code>
</pre>

</p>




